@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root {
    /* primary colors */
    --cool-blue : rgb(23, 60, 182);
    --dark-blue: rgb(7, 7, 70);
    --icy-white : rgb(213, 215, 247);
    --neutral-grey: rgb(92, 91, 91);
    --nice-blue: rgb(110, 202, 238);

    --background-blue: rgb(125, 125, 190);

    /* font styling */
    font-family: Koulen, sans-serif;
}

body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0 ;
    font-size: large;
    text-align: center;
}

h1 {
    font-size: 70px;
    margin: 0px;
}

h2 {
    font-size: 48px;
    margin: 0px;
}




form {
    display: flex;
    flex-direction: column;
    padding: 18px;
    height: 20vh;
    background-color: var(--nice-blue);
    border: 2pt solid var(--dark-blue);
    border-radius: 4px;
}
.form-input {
    text-align: center;
    border-radius: 7px;
    border-bottom-left-radius : 0px;
    border-bottom-right-radius: 0px; 
    height: 90%;
}

#text-button {
    padding: 12px 0px;
    background-color: var(--cool-blue);
    color: var(--icy-white);
    font-size: large;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#text-button:hover,
#text-button:focus {
    transition: ease-in;
    transition-duration: 200ms;
    background-color: var(--icy-white);
    color: var(--dark-blue);
    cursor: pointer;
}

#text-button:active {
    background-color: var(--neutral-grey);
    color: var(--icy-white);
}

.prompt-head {
    padding: 2px;
}

.results {
    /* height: 100vh; */
}

#prompt-area {
    padding: auto;
    height: 40vh;
    border: 1pt solid var(--dark-blue);
    overflow: scroll;
    display: block;
    /* -webkit-transform: rotate(-180deg);
    trans; */
    
}

.rb-header {
    display: flex;
    width: 30%;
    background-color: var(--nice-blue);
    border: 1pt solid var(--dark-blue);
    justify-content: center;
    padding: 4px;
    align-items: center;
}

.rb-resp {
    display: flex;
    border: 1pt solid var(--dark-blue);
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    flex-grow: 1;
}

/* .rb-resp-1 {
    display: flex;
    border: 1pt solid var(--dark-blue);
    background-color: white;
    justify-content: center;
    overflow-y: scroll;
    flex-grow: 1;
} */

section {
    display: flex;
    height: 100%;
}

section div {
    /* height: 50%; */
}

.response-box {
    border: 1pt solid blue;
    background-color: var(--background-blue);
    display: flex;
    margin: 17px 10px ;
    padding: 10px 0px;
    flex-direction: column;
}

.response-box section {
    display: flex;
    margin: auto;
    width: 90%;
    padding: 8px 0px ;
}

.response-box li {
    display: flex;
    margin: auto;
    width: 90%;
    padding: 8px 0px ;
}
